*.[ao]
*~
.deps
ANNOUNCEMENT
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
lib/defines.cc
missing
mkinstalldirs
protocols/qmqp
protocols/smtp
src/mailq
src/nullmailer-dsn
src/nullmailer-inject
src/nullmailer-queue
src/nullmailer-send
src/nullmailer-smtpd
src/sendmail
stamp-h.in
stamp-h1
test/address-test
test/argparse-test
test/clitest0
test/clitest1
test/functions
test/log
test/runtests
test-tmp
