[Unit]
Description=Nullmailer relay-only MTA
Requires=network.target
After=local-fs.target
ConditionPathExists=/var/spool/nullmailer/queue
ConditionPathExists=/etc/nullmailer/defaultdomain
ConditionPathExists=/etc/nullmailer/me

[Service]
WorkingDirectory=/var/spool/nullmailer
ExecStart=/usr/sbin/nullmailer-send
User=nullmail
Group=nullmail
Restart=always

[Install]
WantedBy=multi-user.target
